<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/view/cat/1">Giáo dục</a> > <a href="/view/cat/1">Tuyển sinh</a>
        </div>
        <div class="col-md-8">
            <p class="text-muted text-right">
                Thứ bảy, 26/6/2021, 09:32 (GMT+7)
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Quy chế tuyển sinh đại học năm 2021 có gì mới? </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <center> <img src="/public/images/featured/img1.jpg" alt="" style="max-width: 1000px;">
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Năm 2021, thí sinh được điều chỉnh nguyện vọng tối đa 3 lần bằng hình thức trực tuyến, một số trường hợp
                theo đơn đặt hàng sẽ áp dụng điểm trúng tuyển thấp hơn.</p>
            <p><b>Điều chỉnh nguyện vọng trực tuyến ba lần</b></p>
            <p>Nếu như năm trước, thí sinh được điều chỉnh nguyện vọng một lần bằng trực tuyến hoặc trực tiếp tại nơi
                đăng ký dự thi thì năm nay được thực hiện ba lần sau khi biết điểm thi tốt nghiệp THPT và chỉ được thực
                hiện trực tuyến.</p><br>
            <p>Theo hướng dẫn công tác tuyển sinh trình độ đại học, tuyển sinh trình độ cao đẳng ngành giáo dục mầm non
                được Bộ Giáo dục và Đào tạo công bố ngày 17/4, thời gian điều chỉnh nguyện vọng là 10 ngày, từ 7/8 đến
                17h ngày 17/8. Thí sinh phúc khảo bài thi, môn thi sẽ điều chỉnh nguyện vọng sau khi có kết quả phúc
                khảo thi tốt nghiệp THPT.</p><br>
            <p>Thí sinh điều chỉnh không lớn hơn số lượng nguyện vọng đã đăng ký ban đầu sẽ sử dụng tài khoản và mật
                khẩu cá nhân để thực hiện. Thí sinh điều chỉnh lớn hơn số lượng nguyện vọng đã đăng ký ban đầu hoặc sửa
                sai sót nội dung liên quan đến đối tượng, khu vực ưu tiên phải khai chính xác thông tin này và nộp tại
                điểm thu nhận hồ sơ để bổ sung kinh phí tương đương với số nguyện vọng tăng.</p><br>
            <p>Cán bộ ở điểm tiếp nhận sẽ cập nhật thông tin bổ sung trên cổng thông tin tuyển sinh. Thí sinh sẽ sử dụng
                tài khoản và mật khẩu cá nhân đã được cấp để điều chỉnh. Các em lưu ý ghi đúng mã cơ sở đào tạo - nhà
                trường, mã ngành/nhóm ngành, mã tổ hợp xét tuyển. Nguyện vọng nào ghi không đúng sẽ không được hệ thống
                phần mềm chấp nhận và bị loại.</p><br>
            <p><b>Chỉ nộp bản chính giấy chứng nhận kết quả thi để xác nhận nhập học</b></p>
            <p>Quy chế tuyển sinh năm 2021 quy định cụ thể hơn việc các trường chỉ được dùng giấy chứng nhận kết quả thi
                THPT để thay thế giấy chứng nhận xác định nhập học chứ không được dùng bất cứ hình thức nào khác.</p>
            <br>
            <p>Cụ thể, hội đồng tuyển sinh của cơ sở đào tạo gửi giấy thông báo thí sinh trúng tuyển nhập học khi các em
                đáp ứng đủ điều kiện trúng tuyển theo quy định, trong đó ghi rõ thủ tục cần thiết. Các trường chỉ được
                sử dụng bản chính giấy chứng nhận kết quả thi THPT làm căn cứ xác nhận nhập học (đối với thí sinh tham
                dự kỳ thi tốt nghiệp THPT của năm tuyển sinh). Quy chế năm ngoái không nêu vấn đề này.</p><br>
            <p>Về phía thí sinh, quy chế cũng nêu các em phải xác nhận nhập học thông qua việc nộp bản chính giấy chứng
                nhận kết quả thi trong thời hạn do trường quy định. Quá thời hạn này, thí sinh không xác nhận nhập học
                được hiểu là từ chối và các trường được xét tuyển thí sinh khác. Thí sinh đã xác nhận nhập học thì không
                được tham gia xét tuyển ở các cơ sở đào tạo khác.</p><br>
            <p><b>Có trường hợp được áp dụng điểm trúng tuyển thấp hơn</b></p>
            <p>Năm nay, Bộ Giáo dục và Đào tạo vẫn quy định về việc có thí sinh được áp dụng điểm trúng tuyển thấp hơn 1
                điểm so với điểm chuẩn của ngành đào tạo tính theo thang điểm 30, nhưng quy định chặt chẽ hơn so với năm
                ngoái.</p><br>
            <p>Theo đó, thí sinh muốn được áp dụng điểm trúng tuyển thấp hơn phải đáp ứng đồng thời hai điều kiện. Một
                là UBND cấp tỉnh thuộc vùng Tây Bắc, Tây Nguyên, Tây Nam Bộ đặt hàng để đào tạo lao động cho các cơ
                quan, tổ chức doanh nghiệp của tỉnh và cam kết sử dụng sinh viên tốt nghiệp.</p><br>
            <p>Hai là thí sinh phải có hộ khẩu thường trú từ 3 năm trở lên và học 3 năm cấp THPT tại địa phương, cam kết
                làm việc tại tỉnh sau khi tốt nghiệp. Năm ngoái, điều kiện chỉ là yêu cầu có hộ khẩu từ 3 năm trở lên
                chứ không đưa ra điều kiện về nơi học cấp THPT.</p><br>
            <p>Chủ tịch UBND cấp tỉnh đặt hàng chịu trách nhiệm giải trình với cơ quan chức năng và xã hội về nhu cầu
                đặt hàng đào tạo và sử dụng lao động.</p><br>
            <p>Ngoài một số điểm mới kể trên, quy chế năm nay vẫn giữ nhiều quy định so với năm ngoái, ví dụ vẫn yêu cầu
                điểm đầu vào với khối ngành Y khoa, Sư phạm; tổ hợp xét tuyển phải gắn với yêu cầu của ngành đào tạo...
            </p><br>
            <p>Theo thống kê của Bộ Giáo dục và Đào tạo, tổng số thí sinh cả nước đăng ký dự thi tốt nghiệp THPT năm nay
                là 1.015.000, nhiều hơn năm trước khoảng 100.000. Trong đó, thí sinh tự do gần 42.000, số thi để xét tốt
                nghiệp THPT là 222.000 và số vừa xét tốt nghiệp, vừa xét tuyển đại học gần 759.000.</p><br>
            <p>Ngày 17/6, Bộ Giáo dục và Đào tạo chốt phương án tổ chức thi tốt nghiệp THPT thành hai đợt và gửi kế
                hoạch đến các địa phương. Theo đó, thí sinh ở nơi bị phong tỏa, đang thực hiện cách ly xã hội hoặc thuộc
                diện F0, F1, F2 sẽ không tham gia kỳ thi đợt 1 vào ngày 7-8/7. Lịch thi đợt 2 sẽ được quyết định sau,
                căn cứ vào tình hình dịch bệnh. Như vậy, giống như năm ngoái, những thí sinh thi đợt 2 sẽ tham gia tuyển
                sinh sau và sẽ vẫn được đảm bảo quyền lợi.</p><br>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary"><i class="fa fa-cloud-download"></i> Tải bài viết dưới dạng pdf</button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Nhãn: </b>
            <a href="/view/tag/1" class="badge badge-pill badge-primary">Giáo dục</a>
            <a href="/view/tag/1" class="badge badge-pill badge-primary">Tuyển sinh</a>
            <a href="/view/tag/1" class="badge badge-pill badge-primary">Đại học</a>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Cùng chuyên mục</h3>
            <ul>
                <li><a href="/view/post/1">Học sinh trường Đống Đa là thủ khoa lớp 10 Hà Nội</a></li>
                <li><a href="/view/post/1">Học IELTS giúp nâng cao điểm thi đại học</a></li>
                <li><a href="/view/post/1">Cả lớp đỗ trường chuyên ở Hà Nội</a></li>
                <li><a href="/view/post/1">Hà Nội công bố điểm thi vào lớp 10</a></li>
                <li><a href="/view/post/1">Sở Giáo dục và Đào tạo TP HCM đề xuất thi tốt nghiệp đợt 1</a></li>
            </ul>
            <hr>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Bình luận</h3>
        </div>
    </div>
    <div class="row">
        <form action="#"></form>
        <div class="col-md-10">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Bình luận của bạn">
            </div>

        </div>
        <div class="col-md-2 text-right">
            <button type="submit" class="btn btn-primary"><i class="fa fa-comment" aria-hidden="true"></i> Gửi</button>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-3"><a href="#">user1</a></div>
        <div class="col-md-9">
            <p class="text-muted text-right">09:26:03 - 27/06/2021</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Đầu tư hay đầu cơ không quan trọng. Mục đích đều là lợi nhuận. Lúc cần thiết sẽ phải lướt sóng, lúc đủ thông
            tin sẽ phải mai phục.
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><a href="#">user1</a></div>
        <div class="col-md-9">
            <p class="text-muted text-right">09:26:03 - 27/06/2021</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Đầu tư hay đầu cơ không quan trọng. Mục đích đều là lợi nhuận. Lúc cần thiết sẽ phải lướt sóng, lúc đủ thông
            tin sẽ phải mai phục.
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><a href="#">user1</a></div>
        <div class="col-md-9">
            <p class="text-muted text-right">09:26:03 - 27/06/2021</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Đầu tư hay đầu cơ không quan trọng. Mục đích đều là lợi nhuận. Lúc cần thiết sẽ phải lướt sóng, lúc đủ thông
            tin sẽ phải mai phục.
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><a href="#">user1</a></div>
        <div class="col-md-9">
            <p class="text-muted text-right">09:26:03 - 27/06/2021</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Nhiều người thắc mắc cần gì phải phân biệt đầu tư và đầu cơ, miễn kiếm được tiền là được, đúng là vậy, nhưng
            cần phải hiểu, đầu cơ là lướt sóng ngắn hạn, mua nhanh bán nhanh, về lâu dài tỉ lệ thành công của trường
            phái này là cực thấp, không dành cho số đông, những người mới ít kinh nghiệm dính vào chỉ có mất mát.Còn đầu
            tư là nói về dài hạn,dùng tiền nhàn rỗi để mua và nắm giữ (chủ yếu là cổ phiếu), việc nắm giữ cổ phiếu tốt
            trong dài hạn đã được chứng minh là thua lỗ rất thấp, không mất nhiều thời gian công sức, và đó là con đường
            tuy chậm mà chắc, tiếc thay đa số đều muốn kiếm tiền nhanh mà thôi.
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><a href="#">user1</a></div>
        <div class="col-md-9">
            <p class="text-muted text-right">09:26:03 - 27/06/2021</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Phần lớn chúng ta đều bắt đầu từ nhà đầu cơ và sau đó trở thành nhà đầu tư khi giá cổ phiếu giảm nhanh mà
            không kịp cắt lỗ.
            <hr>
        </div>
    </div>
</div>