<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Thông tin tài khoản</h3><br>
            <hr>
            <p><b>Họ tên:</b> AAA</p><br>
            <p><b>Email:</b> aaa@gmail.com</p><br>
            <p><b>Ngày tháng năm sinh:</b> 01/01/2000</p><br>
            <p><b>Loại tài khoản:</b> All</p><br>
            <a href="/user/update" class="btn btn-primary">Cập nhật thông tin</a>
            <a href="/user/changepwd" class="btn btn-primary">Đổi mật khẩu</a>
        </div>
    </div>
</div>