{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>
<script>
    $('#dob').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true
    });
</script>
{{/section}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Đăng ký</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="/user/register">
                <div class="form-group">
                    <label for="username">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="repassword">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" id="repassword" name="repassword">
                </div>
                <div class="form-group">
                    <label for="name">Họ tên</label>
                    <input type="text" class="form-control" id="full_name" name="full_name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="dob">Ngày tháng năm sinh</label>
                    <input type="text" class="form-control" id="dob" name="dob">
                </div>
                <center> <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Đăng ký tài
                        khoản</button>
                </center>
            </form>
            {{#if registerMsg}}
                {{#if error}}
                    {{#each registerMsg}}
                    <div class="alert alert-danger" role="alert" style="margin-top:10px;">
                        {{this}}
                    </div>
                    {{/each}}
                {{else}}
                    {{#each registerMsg}}
                    <div class="alert alert-success" role="alert" style="margin-top:10px;">
                        {{this}}
                    </div>
                    {{/each}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>