<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Đăng ký</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="username">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="repassword">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" id="repassword">
                </div>
                <div class="form-group">
                    <label for="name">Họ tên</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="type">Loại tài khoản</label>
                    <select class="form-control" id="type">
                        <option>Độc giả</option>
                        <option>Phóng viên</option>
                        <option>Biên tập viên</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="writername">Bút danh</label>
                    <input type="text" class="form-control" id="writername">
                </div>
                <div class="form-group">
                    <label for="dob">Ngày tháng năm sinh</label>
                    <input type="text" class="form-control" id="dob">
                </div>
                <center> <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Đăng ký tài
                        khoản</button>
                </center>
            </form>
        </div>
    </div>
</div>