<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Khôi phục mật khẩu</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#if email}}
                {{#if time}}
                    <div class="alert alert-primary" role="alert" style="margin-top:10px;">
                        Mã OTP đã được gửi tới <b>{{email}}</b>, hãy dùng nó để khôi phục mật khẩu trước <b>{{time}}</b>
                    </div>
                {{/if}}
            {{/if}}
            <form>
                <div class="form-group">
                    <label for="otp">Mã OTP</label>
                    <input type="text" class="form-control" id="otp">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="repassword">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" id="repassword">
                </div>
                <center> <button type="submit" class="btn btn-primary"><i class="fa fa-unlock"></i> Khôi phục tài khoản</button>
                </center>
            </form>
        </div>
    </div>
</div>