<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Khôi phục mật khẩu</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="email">Địa chỉ Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <center> <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Gửi OTP</button>
                </center>
                <div class="form-group">
                    <label for="otp">Mã OTP</label>
                    <input type="text" class="form-control" id="otp">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="repassword">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" id="repassword">
                </div>
                <center> <button type="submit" class="btn btn-primary"><i class="fa fa-unlock"></i> Khôi phục tài khoản</button>
                </center>
            </form>
        </div>
    </div>
</div>