<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
        <h3>Bài viết của bạn</h3>
    </div>
    <div class="col-md-4 text-right">
        <a href="/writer/new" class="btn btn-primary"><i class="fa fa-file-o"></i> Tạo bài mới</a>
    </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã bài</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Chuyên mục</th>
                <th scope="col">Nhãn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Ghi chú từ người duyệt</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="/view/post/1">Quy chế tuyển sinh đại học năm 2021 có gì mới?</a></td>
                <td>Giáo dục > Tuyển sinh</td>
                <td>
                    <span class="badge badge-primary">Giáo dục</span>
                    <span class="badge badge-primary">Tuyển sinh</span>
                    <span class="badge badge-primary">Đại học</span>
                </td>
                <td>
                    <span class="badge badge-primary">Đã duyệt</span>
                    <span class="badge badge-primary">Đã xuất bản</span>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="/view/post/1">Quy chế tuyển sinh đại học năm 2021 có gì mới?</a></td>
                <td>Giáo dục > Tuyển sinh</td>
                <td>
                    <span class="badge badge-primary">Giáo dục</span>
                    <span class="badge badge-primary">Tuyển sinh</span>
                    <span class="badge badge-primary">Đại học</span>
                </td>
                <td>
                    <span class="badge badge-secondary">Chưa duyệt</span>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <a href="/writer/edit/1" class="btn btn-primary btn-sm"><i class="fa fa-cut"></i> Chỉnh sửa</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a href="/view/post/1">Quy chế tuyển sinh đại học năm 2021 có gì mới?</a></td>
                <td>Giáo dục > Tuyển sinh</td>
                <td>
                    <span class="badge badge-primary">Giáo dục</span>
                    <span class="badge badge-primary">Tuyển sinh</span>
                    <span class="badge badge-primary">Đại học</span>
                </td>
                <td>
                    <span class="badge badge-primary">Đã duyệt</span>
                    <span class="badge badge-secondary">Chờ xuất bản</span>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><a href="/view/post/1">Quy chế tuyển sinh đại học năm 2021 có gì mới?</a></td>
                <td>Giáo dục > Tuyển sinh</td>
                <td>
                    <span class="badge badge-primary">Giáo dục</span>
                    <span class="badge badge-primary">Tuyển sinh</span>
                    <span class="badge badge-primary">Đại học</span>
                </td>
                <td>
                    <span class="badge badge-danger">Bị từ chối</span>
                </td>
                <td>
                    <b>editor01:</b> Thích thì từ chối!
                </td>
                <td>
                    <a href="/writer/edit/1" class="btn btn-primary btn-sm"><i class="fa fa-cut"></i> Chỉnh sửa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>